.four-help {
	display: flex;
	justify-content: space-between;
	width: 77%;
	padding-top: 200px;
	margin-left: auto;
	margin-right: auto;
	&-left {
		width: 45%;
		display: flex;
		align-items: center;
		justify-content: center;
		div {
			width: 75%;
			div {
				width: 100%;
				border-bottom: 4px solid #e6e6f0;
				border-top: 4px solid #e6e6f0;
				padding: 30px 0;
				margin: 15px 0;
				a {
					color: #24a3ff;
					font-size: 21px;
					margin-top: 15px;
				}
				h3 {
					font-size: 21px;
					color: #323264;
				}
			}
			> a {
				display: flex;
				align-items: center;
				p {
					font-size: 12px;
					color: #24a3ff;
					margin-left: 5px;
					font-family: "TT Norms Bold";
					letter-spacing: 1px;
				}
			}
			h2 {
				font-size: 21px;
				color: #323264;
			}
		}
	}
	form {
		background-color: #f5f5fa;
		width: 45%;
		display: flex;
		justify-content: center;
		border-radius: 12px;
		padding: 20px 0;
		> div {
			width: 93%;
			h2 {
				background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				font-size: 32px;
				font-family: "TT Norms Bold";
			}
			h3 {
				color: #b3b3ba;
				font-size: 14px;
				margin-top: 20px;
				text-transform: uppercase;
				letter-spacing: 1px;
			}
			div {
				input,
				textarea {
					color: #323264;
					width: 100%;
					border-radius: 12px;
					padding: 11px 10px 10px 11px;
					font-size: 18px;
					outline: none;
					border: none;
					margin-top: 20px;
					&::placeholder {
						color: #b3b3ba;
					}
				}
				textarea {
					height: 180px;
					resize: none;
				}
				button {
					width: 250px;
					box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
					background-color: #24a3ff;
					border-radius: 12px;
					padding: 16px 0 17px 0;
					font-size: 14px;
					border: none;
				}
			}
			.box-button {
				display: flex;
				margin-top: 20px;
				justify-content: center;
			}
		}
	}
}
iframe {
	margin-top: 80px;
}
@media screen and (max-width: 1000px) {
	.four-help {
		padding-top: 125px;
		width: 100%;
		flex-direction: column;
		align-items: center;
		&-left {
			width: 90%;
			div {
				width: 100%;
			}
		}
		form {
			margin-top: 30px;
			width: 100%;
			div {
				width: 90%;
				h2 {
					font-size: 22px;
				}
				div {
					width: 100%;
				}
			}
		}
	}
}
