.head {
	.head-top {
		.fff {
			color: #fff;
			&::before {
				color: #fff;
			}
		}
	}
}
.pading {
	background-color: #323264;
	height: 200px;
	display: block;
}
@media screen and (max-width: 1220px) {
	.pading {
		height: 125px;
	}
}
